/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.ha-center{text-align: center;}
.ha-core-loader{display: none;}
.ha-core-loader,
.ha-core-loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.ha-core-loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: .3em solid rgba(255, 255, 255, 0.2);
    border-right: .3em solid #d3d3d3;
    border-bottom: .3em solid rgba(255, 255, 255, 0.2);
    border-left: .3em solid #d3d3d3;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.ha-core-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    min-width: 300px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.ha-core-modal .ha-core-close-modal {
    position: absolute;
    cursor: pointer;
    top: -14px;
    right: 0;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}
.ha-core-modal .ha-core-close-modal svg {
    width: 1.75em;
    height: 1.75em;
}
.ha-core-modal .ha-core-modal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}
.ha-core-modal.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.ha-core-modal.active .ha-core-modal-content {
    opacity: 1;
}
.ha-core-modal.active .ha-core-close-modal {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 1;
}
.ha-core-table {
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

.ha-core-row {
    display: table-row;
    background: #f6f6f6;
}
.ha-core-row:nth-of-type(odd) {
    background: #e9e9e9;
}
.ha-core-row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}
.ha-core-row.green {
    background: #27ae60;
}
.ha-core-row.blue {
    background: #2980b9;
}
.ha-core-cell {
    padding: 6px 12px;
    display: table-cell;
}
.hwg-code-form-modal{padding: 20px;}
.ha-wheel-game-over-content{padding: 15px;}
@media only screen and (min-width: 40em) {
    .ha-core-modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: 999999;
    }
    .ha-core-modal-overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
@media only screen and (max-width: 39.9375em) {
    .ha-core-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        padding: 0 !important;
        z-index: 100000;
    }

    .ha-core-close-modal {
        right: 20px !important;
    }
}
@media screen and (max-width: 580px) {
    .ha-core-modal .ha-core-close-modal{
        top: 10px;
    }
    .ha-core-table {
        display: block;
    }
    .ha-core-row {
        padding: 14px 0 7px;
        display: block;
        margin-bottom: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
    .ha-core-row.header {
        padding: 0;
        height: 6px;
    }
    .ha-core-row.header .ha-core-cell {
        display: none;
    }
    .ha-core-row .ha-core-cell {
        margin-bottom: 10px;
    }
    .ha-core-row .ha-core-cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
    .ha-core-table{box-shadow: none;max-height: 650px;overflow: scroll;}
    .ha-core-cell {
        padding: 2px 16px;
        display: block;
    }
    .ha-core-row.header{display: none;}

}
